.intro_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
  }
  
  
 

  
  @media screen and (max-width: 480px) {
    .intro_Container {
      display: grid;
      grid-template-columns: 1fr;
    }
    .Home_text {
      text-align: center;
      margin: 0%;
    }
    .main_Heading {
      padding: 0;
      color: #333c83;
      margin-left: 10px;
    }
    .second_heading {
      font-size: 40px;
    }
    .CaseStudy_btn {
      background: #051367;
      color: whitesmoke;
      padding: 10px 80px 10px 80px;
    }
  }
  